<div class="site-header">
  <div class="wrapper">
    <div class="nav-bar">
      <a href="#" class="nav-bar__logo">Sample</a>
      <div class="nav-bar-items">
        <ul class="nav-bar__list">
          <li><a href="#">Shop</a></li>
          <li><a href="#">Products</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contacts</a></li>
        </ul>

        <div class="nav-bar__cart">Cart <div class="nav-bar__cart-amount">2</div>
        </div>
      </div>
    </div>
  </div>
</div>