<section class="hero">
  <div class="wrapper">
    <div class="content__layouts">
      <img src="./assets/images/Background.png" alt="" class="hero-image">
      <div class="content__layout">
        <h1 class="main-text">Studio-like photos. Without the studio.</h1>
        <p class="content-text">Never worry about storing, finding, or sharing your memories thanks to
          unlimited storage in high quality on Google Photos.</p>
        <div class="hero__content-item-count">
          <div class="quantity">
            <input type="number" min="1" max="9" step="1" value="1">
          </div>
          <button type="button" class="primary-button">Buy for $999</button>
        </div>
        <p class="content-text small--">The product image is taken from store.google.com</p>
      </div>
    </div>
  </div>
</section>

<section class="features">
  <div class="wrapper">
    <div class="content__layouts">
      <div class="content__layout">
        <h1 class="main-text smaller--">Help us change how teams communicate</h1>
        <div class="features__items">
          <div class="features__item">
            <div class="features__item-icon shopping--">
              <img src="./assets/images/icons/shopping.svg" alt="">
            </div>
            <h2 class="features__item-text-main">Engage Customers</h2>
            <h3>It is a long established fact that a reader will be</h3>
          </div>
          <div class="features__item">
            <div class="features__item-icon mail--">
              <img src="./assets/images/icons/mail.svg" alt="">
            </div>
            <h2 class="features__item-text-main">Email Marketing</h2>
            <h3>It is a long established fact that a reader will be</h3>
          </div>
          <div class="features__item">
            <div class="features__item-icon team--">
              <img src="./assets/images/icons/team.svg" alt="">
            </div>
            <h2 class="features__item-text-main">Team Accounts</h2>
            <h3>It is a long established fact that a reader will be</h3>
          </div>
          <div class="features__item">
            <div class="features__item-icon security--">
              <img src="./assets/images/icons/secure.svg" alt="">
            </div>
            <h2 class="features__item-text-main">Security Managment</h2>
            <h3>It is a long established fact that a reader will be</h3>
          </div>
        </div>
      </div>
      <img src="./assets/images/Illustration.svg" alt="" class="hero-image">
    </div>
  </div>
</section>

<section class="about">
  <div class="wrapper">
    <h1 class="main-text align-center-- smaller--">We believe in helping people pay attention to what matters</h1>
    <h2 class="content-text about--">
      Create screens directly in Singleton or add your images from Sketch or Figma. You can even sync designs from your
      cloud storage!
    </h2>
    <div class="features__items">
      <div class="about__item">
        <div class="about__item-icon shopping--">
          <img src="./assets/images/icons/shopping.svg" alt="">
        </div>
        <h2 class="features__item-text-main">Engage Customers</h2>
        <h3>It is a long established fact that a reader will be distracted</h3>
      </div>
      <div class="about__item">
        <div class="about__item-icon mail--">
          <img src="./assets/images/icons/mail.svg" alt="">
        </div>
        <h2 class="features__item-text-main">Email Marketing</h2>
        <h3>It is a long established fact that a reader will be distracted</h3>
      </div>
      <div class="about__item">
        <div class="about__item-icon team--">
          <img src="./assets/images/icons/team.svg" alt="">
        </div>
        <h2 class="features__item-text-main">Team Accounts</h2>
        <h3>It is a long established fact that a reader will be distracted</h3>
      </div>
      <div class="about__item">
        <div class="about__item-icon security--">
          <img src="./assets/images/icons/secure.svg" alt="">
        </div>
        <h2 class="features__item-text-main">Security Managment</h2>
        <h3>It is a long established fact that a reader will be distracted</h3>
      </div>
      <div class="about__item">
        <div class="about__item-icon admin--">
          <img src="./assets/images/icons/user.svg" alt="">
        </div>
        <h2 class="features__item-text-main">Security Managment</h2>
        <h3>It is a long established fact that a reader will be distracted</h3>
      </div>
      <div class="about__item">
        <div class="about__item-icon digital--">
          <img src="./assets/images/icons/fire.svg" alt="">
        </div>
        <h2 class="features__item-text-main">Security Managment</h2>
        <h3>It is a long established fact that a reader will be distracted</h3>
      </div>
    </div>
  </div>
  <div class="about__button">
    <button type="button" class="primary-button about--">Explore All Features</button>
  </div>
</section>